*{
    background-color: grey;
}

.highScoresList{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttonGroup{
    display:flex;
    flex-direction: column;

}

.hide{
    display:none;
}
